body {
    background-color: #F8F8F8;
}

#grid {
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    height: 400px;
}

.page-description {
    box-sizing: border-box;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 350px;
    padding: 5px;
    background-color: #F7F7F7;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    z-index: 1000;
    opacity: 1;
}

.page-description__btn-back {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.2);
}